// Footer
.footerContainer {
  max-width: 1200px;
  margin: auto;

  hr {
    border: 0.5px solid #05AF50;
    margin-top: 3rem;
  }

  p {
    text-align: center;
    margin: 2rem 0;
    font-size: 14px;
  }
}
